<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrative Office</title>
    <link rel="stylesheet" href="stylep.css">
</head>
<body>
   
    <div class="container">
            <h1>Administrative Office</h1>
            <div class="mob_info_officer_img" align="center">
            <div class="img"><img src="/image/dean.png" alt="" width="100" height=""/></div>
            </div>
            <div class="portion">
            <div class="mob_info">
            <div class="mob_label">Name</div>
            <div class="mob_value">Brig Gen Golam
                Faruque, psc</div>
            </div>
            <div class="mob_info">
            <div class="mob_label">Designation</div>
            <div class="mob_value">Dean</div>
            </div>
            <div class="mob_info">
            <div class="mob_label">Department</div>
            <div class="mob_value">Information and Communication Technology</div>
            </div>
            <div class="mob_info">
            <div class="mob_label">Email</div>
            <div class="mob_value">
            <a href="mailto:dean.fst@bup.edu.bd">dean.fst@bup.edu.bd </a>
            </div>
            </div>
            <div class="mob_info">
            <div class="mob_label">Contact</div>
            <div class="mob_value">
            <a href="tel:+8801769021800">
                +8801769021800        </a>
            </div>
            </div>
            </div>




            <div class="mob_info_officer_img" align="center">
            <div class="img"><img src="/image/Chair.png" alt="" width="100" height=""/></div>
            </div>
            <div class="portion">
            <div class="mob_info">
                <div class="mob_label">Name</div>
                <div class="mob_value">Dr. Kazi Abu Taher</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Designation</div>
                <div class="mob_value">Chairman</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Department</div>
                <div class="mob_value">Information and Communication Technology</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Email</div>
                <div class="mob_value">
                <a href="mailto:kataher@bup.edu.bd">kataher@bup.edu.bd </a>
                </div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Contact</div>
                <div class="mob_value">
                <a href="tel:+8801711306453">
                    +8801711306453       </a>
                </div>
                </div>
            </div>



            <div class="mob_info_officer_img" align="center">
            
            <div class="img"><img src="/image/sec1.png" alt="" width="100" height=""/></div>
            </div>
            <div class="portion">
            <div class="mob_info">
                <div class="mob_label">Name</div>
                <div class="mob_value">Md. Faizur Rahman</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Designation</div>
                <div class="mob_value">Assistant Director</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Department</div>
                <div class="mob_value">Information and Communication Technology</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Email</div>
                <div class="mob_value">
                <a href="mailto:fayzur.rahman@bup.edu.bd">fayzur.rahman@bup.edu.bd</a>
                </div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Contact</div>
                <div class="mob_value">
                <a href="tel:+8801769021816">
                    +8801769021816       </a>
                </div>
                </div>
            </div>



            <div class="mob_info_officer_img" align="center">
            <div class="img"><img src="/image/sec2.png" alt="" width="100" height=""/></div>
            </div>
            <div class="portion">
            <div class="mob_info">
                <div class="mob_label">Name</div>
                <div class="mob_value">Md. Ehsanul Kabir</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Designation</div>
                <div class="mob_value">Assistant Director</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Department</div>
                <div class="mob_value">Information and Communication Technology</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Email</div>
                <div class="mob_value">
                <a href="mailto:ehsanul.kabir@bup.edu.bd">ehsanul.kabir@bup.edu.bd</a>
                </div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Contact</div>
                <div class="mob_value">
                <a href="tel:+8801769021830">
                    +8801769021830       </a>
                </div>
                </div>
            </div>

            <div class="mob_info_officer_img" align="center">
            <div class="img"><img src="" alt="Anamul Huq" width="100" height=""/></div>
            </div>
            <div class="portion">
            <div class="mob_info">
                <div class="mob_label">Name</div>
                <div class="mob_value">Anamul Huq</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Designation</div>
                <div class="mob_value">Clerk</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Department</div>
                <div class="mob_value">Information and Communication Technology</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Email</div>
                <div class="mob_value">
                <a href="mailto:"> </a>
                </div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Contact</div>
                <div class="mob_value">
                <a href="tel:+8801711476694">
                    +8801711476694      </a>
                </div>
                </div>

            </div>

            <div class="mob_info_officer_img" align="center">
            <div class="img"><img src="" alt="Md Shohag Rana" width="100" height=""/></div>
            </div>
            <div class="portion">
            <div class="mob_info">
                <div class="mob_label">Name</div>
                <div class="mob_value">Md Shohag Rana</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Designation</div>
                <div class="mob_value">Clerk</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Department</div>
                <div class="mob_value">Information and Communication Technology</div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Email</div>
                <div class="mob_value">
                <a href="mailto:"></a>
                </div>
                </div>
                <div class="mob_info">
                <div class="mob_label">Contact</div>
                <div class="mob_value">
                <a href="tel:+8801923567787">
                    +8801923567787       </a>
                </div>
                </div>
                
            </div>
    </div>

</body>
</html>