<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">



    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body>

    

    <section class="header">
        
        
        <h4 class="about_us">About Us</h4>
        
       

    </section>

<section>

    <div class="container">
        <div class="item1">

            <div class="row">

                <div class="col-1">
                    <div class="rating">
                        <i class="fa fa-graduation-cap fa-2x"></i>
                        
                    </div>


                </div>

                <div class="col-2">
                    <div>
                        <h4>Campus Life</h4>

                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consequatur ducimus beatae. Ipsum, expedita quia.</p>

                    </div>
                    


                </div>
            </div>

            
            

        </div>

        

        <div class="item2">

            <div class="row">

                <div class="col-1">
                    <div class="rating">
                        <i class="fa fa-address-card fa-2x"></i>
                    </div>


                </div>

                <div class="col-2">
                    <div>
                        <h4>Admission</h4>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consequatur ducimus beatae. Ipsum, expedita quia.</p>

                    </div>
                    


                </div>
            </div>
        </div>

            
            

            <div class="item3">

                <div class="row">
    
                    <div class="col-1">
                        <div class="rating">
                            <i class="fa fa-calendar fa-2x"></i>
                        </div>
    
    
                    </div>
    
                    <div class="col-2">
                        <div>
                            <h4>News and Events</h4>
    
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consequatur ducimus beatae. Ipsum, expedita quia.</p>
    
                        </div>
                        
    
    
                    </div>
                </div>
    
                
                
            
            </div>
    </div>

</section>
<br><br><br>



<section class="sec2">

    <div class="container2">
        <div class="item-3">
            <div class="row">
                <div class="col21">
                    <h2 class="p1">OUR HISTORY</h2><br>
                    <p class="p1">Department of Information and Communication Technology (ICT) commenced in 2015. The department offers Bachelor of Information & Communication Technology (ICT) program which is designed to produce graduates with solid foundation in information technology skills and knowledge with a wide range of application. It focuses on the systems development aspects of employment in the information technology profession.Department of Information and Communication Technology (ICT) commenced in 2015. The department offers Bachelor of Information & Communication Technology (ICT) program which is designed to produce graduates with solid foundation in information technology skills and knowledge with a wide range of application. </p><br>
                    
                    <div class="p1">
                    <button type="button" class="learn_more">Learn More</button></div>
                </div>
    
                <div class="col22">
                <img src="image/pic.jpg" alt="pix" class="image" >
            </div>
            
        </div>

        
    </div>

    <div class="item-4">
        <div class="row">

            <div class="col21">
                <img src="/image/pic1.jpg" alt="pix" class="image" >
            </div>

            <div class="col22">
                <h2 class="p2">Vision and Goals</h2><br>
                <p class="p2">To gain extensive experience in developing information and communication technology to address the needs of modern organizations.</p><br>

                <div class="p2">
                <button type="button" class="learn_more">Learn More</button></div>
            </div>

            
    </div>




    </div>


</section>
<br><br>

<!--<section>
  <div class="comtainer-4">
    <div class="col41">
      <button type="button" class="about_btn">Self Portrayal</button>


    </div>


  </div>


</section>

<br><br>-->
<div class="section-title">
  <h2>Gallery</h2>
  
</div>
<section class="bd">

    <div class="slide-container">
      <span class="slider-span" id="slider-span1"></span>
      <span class="slider-span" id="slider-span2"></span>
      <span class="slider-span" id="slider-span3"></span>
      <span class="slider-span" id="slider-span4"></span>
    
      <div class="image-slider">
          <div class="slides-div" id="slide-1">
              <img src="/image/1.jpg" alt="" class="imgsl" id="img1">
              <a href="#slider-span1" class="buttonsl" id="button-1"></a>
          </div>
          <div class="slides-div" id="slide-2">
              <img src="/image/2.jpg" alt="" class="imgsl" id="img2">
              <a href="#slider-span2" class="buttonsl" id="button-2"></a>
          </div>
          <div class="slides-div" id="slide-3">
              <img src="/image/3.jpg" alt="" class="imgsl" id="img3">
              <a href="#slider-span3" class="buttonsl" id="button-3"></a>
          </div>
          <div class="slides-div" id="slide-4">
              <img src="/image/4.jpg" alt="" class="imgsl" id="img4">
              <a href="#slider-span4" class="buttonsl" id="button-4"></a>
          </div>
      </div>
    </div>

</section>


<!-- <script src="bootstrap.bundle.min.js"></script> -->


    
    
</body>
</html>